USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 11/9/2019 05:47:56 PM ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Bank.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Bank_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[anabari]    Script Date: 11/9/2019 05:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anabari](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[klienti_id] [int] NULL,
	[tarigi] [date] NULL,
	[odenoba] [float] NULL,
	[procenti] [float] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[klienti]    Script Date: 11/9/2019 05:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klienti](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[saxeli] [nvarchar](50) NULL,
	[gvari] [nvarchar](50) NULL,
	[piradi_nomeri] [nvarchar](50) NULL,
	[registraciis_tarigi] [date] NULL,
 CONSTRAINT [PK_klienti] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sesxi]    Script Date: 11/9/2019 05:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sesxi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[klienti_id] [int] NULL,
	[gacemis_tarigi] [date] NULL,
	[odenoba] [float] NULL,
	[procenti] [float] NULL,
	[vali] [float] NULL,
 CONSTRAINT [PK_sesxi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[anabari]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_klienti] FOREIGN KEY([klienti_id])
REFERENCES [dbo].[klienti] ([id])
GO
ALTER TABLE [dbo].[anabari] CHECK CONSTRAINT [FK_Table_1_klienti]
GO
ALTER TABLE [dbo].[sesxi]  WITH CHECK ADD  CONSTRAINT [FK_sesxi_klienti] FOREIGN KEY([klienti_id])
REFERENCES [dbo].[klienti] ([id])
GO
ALTER TABLE [dbo].[sesxi] CHECK CONSTRAINT [FK_sesxi_klienti]
GO
USE [master]
GO
